!content/
content/*
!content/plugins/
content/plugins/*
!content/plugins/ochope
content/plugins/ochope/*
!content/plugins/ochope/class
!content/plugins/ochope/composer.json
!content/plugins/ochope/ochope.php

vendor
wp
composer.lock
//wp-config.php
.htaccess