$header-height: 5vh;



#app{
  flex-direction: column;
  justify-content: space-between;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  height: 100%;
  margin-top: 0;
}

body {
  margin: 0;
  height: 100vh; 
  background-color: #32325B;
}

.header {
    align-items: center;
    background-image: url(../images/fondmenuheader.png);
    background-size: contain; 
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 2rem;
    flex-basis: 30%;
    border: 1px solid black;
    color: #32325B;
    font-size: 20px;
    font-weight: bold;
}

.logo {
  border-radius: 5%;
}
.header .logo {
  align-items: center;
  box-sizing: border-box;
  width: 55%;
}
  
.header--vertical {
    bottom: 0;
    flex-direction: column;
    height: auto;
    left: 0;
    position: fixed;
    top: 0;
    width: 25%;
}
  
.header--vertical .logo {
    height: auto;
    margin-bottom: 4rem;
    margin-right: 0;
  }
  .header--vertical .menu {
    width: 100%;
  }

.navHeader, .navHeaderItem, .navHeaderBottom {
  padding: 0.5rem;

}

.navHeaderBottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px 30px;
    margin-top: 5em;
    align-items: center;
}

.pictureFb {
  width: 27%;
}

.pictureTwitter {
 width: 25%;
}
.navHeaderBottomItem {
  flex-basis: 30%;
}

main {
  margin-left: 30%;
  width: 70%;
}
 
.recipeListDiv{
display: inline;
}

.recipeListTitle, .recipeCreateTitle {
color:#FFCE00;
margin: 0.5 px;
font-size: 3rem;
}

.recipeListImage {
  height: 25%;
  width: 70%;
  border-radius: 1rem;
}

.cardImage {
  width: 30%;
  margin-top: 1em;
  border-radius: 5%;
}

.card, .recipe, .login, .inscription, .infoProfile, .headProfile, .recipeProfile, .recipeCreate{
  border: solid 1px white;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem;
  color: white;
}

.recipeImage {
  width: 60%;
  border-radius: 5%;
}

.recipeTitle, .commentSectionTitle, .profileTitle {
  color:#FFCE00;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.recipeAuthor, .commentAuthor {
  font-style: italic;
}

.recipeType{
  padding-bottom: 1rem;
  font-style: italic;
}

.recipeSubtitle, .subtitleProfile {
  font-size: 1.5rem;
  margin: 1rem;
  border: solid 1px white;
  border-radius: 1rem;
  color:#FFCE00;
}

.commentSection {
  border: solid 1px white;
  border-radius: 1rem;
  color: white;
  margin: 1rem;
  padding-bottom: 2rem;
}

.recipeComment {
  border: solid 1px white;
  border-radius: 1rem;
  color: white;
  margin: 1rem;
}

.commentFormTextarea {
  border-radius: 0.5rem;
}

.commentFormButton {
  border-radius: 0.5rem;
}

.register {
  display: flex;
}

.login, .inscription {
  width: 45%;
  height: 60%;
  margin: 1rem;
}

.inscriptionImage, .loginImage {
  border-radius: 1rem;
  width: 65%;
}

.loginTitle, .inscriptionTitle, .logoutTitle {
  color:#FFCE00;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.loginForm, .inscriptionForm, .recipeCreateForm {
  display: flex;
  flex-direction: column;
}

.inscriptionLabel, .loginLabel, .recipeCreateLabel {
  margin-bottom: 1rem;
  justify-content: center;
}

.inscriptionButton, .loginButton, .recipeCreateButton {
  width: 20%;
  align-self: center;
  margin-top: 0.5rem;
}

.error {
  color: #FFCE00;
  font-style: italic;
  margin-bottom: 1rem;
}

.profile {
 display: grid;
 grid-template-areas: 
 "head info info info"
 "head recipe recipe recipe"
 "head recipe recipe recipe";
}

.headProfile {
  grid-area: head;
}

.infoProfile {
  grid-area: info;
}

.recipeProfile {
  grid-area: recipe;
}

.profileImage{
  width: 60%;
  border-radius: 50%;
}

.buttonProfile {
  margin: 0.5rem;
}

.infoProfileItem {
  margin: 0.2rem;
}

.recipeCreateImage {
  border-radius: 1rem;
  width: 35%;
}

.home {
  display: grid;
  grid-template-areas: 
 "caroussel log"
 "caroussel forum";
 grid-gap:0px;
}

.carousselHome {
  grid-area: caroussel;
  width: 35rem;
}

.registerHomeImage {
  grid-area: log;
 width: 35rem;
 border: solid 1.5px black;
 border-radius: 1rem;
} 

.forumHomeImage {
  grid-area: forum;
  width: 35rem;
  border: solid 1.5px black;
  border-radius: 1rem;
}

a {
  text-decoration: none;
  
}

.linkDiscovery{
  font-weight: bolder;
  color: white;
  text-decoration: underline;
}
.notFound{
  //background-color: #FFCE00 ;
border-radius: 2rem;
  width: 35%;
}

.notFoundSection {
  color: white;
}

.notFoundTitle {
  font-size: 2.5rem;
}

.notFoundText {
  font-size: 1.5rem;
}
